{% load static %}

<div class="foot">
    <div class="foot1">
        <h3>COMOROS</h3>
        <hr />
        <h5><a>Visas</a></h5>
        <h5><a>Our Relationship</a></h5>
        <h5><a>Business</a></h5>
        <h5><a>Gallery</a></h5>
        <h5><a>Tourism</a></h5>
    </div>
    <div class="foot2">
        <h3>CONSULATE</h3>
        <hr />
        <h5>Consulate Kampala</h5>
        <h5>Las Vegas Garden Hotel, Bunga - Kawuku</h5>
        <h5>P.O Box 3837</h5>
        <h5>Kampala, Uganda</h5>
        <h5>Email: info@comorosconsulateug.com</h5>
        <h5>Tel: +256 712 439003</h5>
        <div class="social">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</div>