{% load static %}

<header>
    <div class="header">
        <img 
            src="{% static 'main/images/logo.png' %}"
        />
        <div>
            <h2 style="color:#4C9A2A;font-weight:bold;">
                CONSULATE OF THE UNION OF COMOROS
            </h2>
            <h4>-------Kampala  - Uganda----</h4>
        </div>
        
        <img 
            src="{% static 'main/images/flag.png' %}"
        />
    </div>
    <div>
        <ul class="menu">
            <li><a href="#">Comoros Citizen Services</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Our Relationships</a></li>
            <li><a href="#">News & Events</a></li>
        </ul>
    </div>
</header>